@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: rgb(10 10 10);
}

.bg-blur {
  background: hsla(240, 1%, 17%, 0.75);
  backdrop-filter: blur(10px);
}

article {
  animation: fade 0.5s ease backwards;
}
.timeline-list {
  margin-left: 45px;
}

@media (min-width: 580px) {
  .timeline-list {
    margin-left: 65px;
  }
}

.timeline-item:not(:last-child) {
  margin-bottom: 20px;
}

.timeline-item {
  position: relative;
}

@media (min-width: 580px) {
  .timeline-item:not(:last-child)::before {
    left: -49px !important;
  }
}
.timeline-item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -30px;
  width: 1px;
  height: calc(100% + 50px);
  background: hsl(0, 0%, 22%);
}

.timeline-item::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -33px;
  height: 6px;
  width: 6px;
  background: rgb(250 204 21);
  border-radius: 50%;
  box-shadow: 0 0 0 4px hsl(0, 0%, 22%);
}

@media (min-width: 580px) {
  .timeline-item::after {
    height: 8px;
    width: 8px;
    left: -52px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scaleUp {
  animation: scaleUp 0.25s ease forwards;
}

@keyframes scaleUp {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.icon-box {
  transition: 0.25s ease;
}
